<% for (movid_id, score) in @response %>
	<!--div class="row"-->
	<% movie = Movie.find(movid_id) %>
		<div class="movie-item well">
			<%= link_to movie.title, naver_movie_url(movie.title), target: "_blank" %>, 
			<%= score %>
			<br />
			<%= image_tag movie.image %>
			<%= render partial: "/rates/form", locals: { movie: movie } %>
		</div>
	<!--/div-->
<% end %>
