<div class="alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Guide!</strong> Tag is conceptual name for group of movies you liked/disliked <br />
  ex) inspiring movies, latest watched movies...
</div>
<h1>
  <%= link_to @user.name, @user %>'s movie tags
</h1>
<% if current_user.admin? && !current_user?(@user) %>
	<%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure" } %>
<% end %>
<table class="table table-striped">
  <tr>
    <th>Tag Name</th>
  </tr>
<% for tag in @user.tags %>
  <tr><td>
  <%= link_to tag.title, movies_path(tag_id: tag) %>
  </td></tr>
<% end %>
</table>

<hr>
<%= link_to "Create New Tag", new_tag_path, { class: "btn" } %>
